<html class="h-full bg-gray-50" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Town</title>
    <link rel="stylesheet" type="text/css" href="/static/css/output.css">
    <script src="/static/js/htmx.min.js"></script>
    <script src="/static/js/util.js"></script>
</head>
<body class="h-full">
<div>
    <div id='mobile-sidebar' class="relative z-50 xl:hidden" role="dialog" aria-modal="true">
        <div class="fixed inset-0 bg-gray-900/80"></div>
        <div class="fixed inset-0 flex">
            <div class="relative mr-16 flex w-full max-w-xs flex-1">
                <div class="absolute left-full top-0 flex w-16 justify-center pt-5">
                    <button onclick="toggleHidden('#mobile-sidebar')" type="button" class="-m-2.5 p-2.5">
                        <span class="sr-only">Close sidebar</span>
                        <svg class="h-6 w-6 text-white" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" aria-hidden="true">
                            <path stroke-linecap="round" stroke-linejoin="round" d="M6 18L18 6M6 6l12 12" />
                        </svg>
                    </button>
                </div>
                {{ template "templates/sidebar.html" . }}
            </div>
        </div>
    </div>

    <!-- Desktop sidebar -->
    <div class="hidden xl:fixed xl:inset-y-0 xl:z-50 xl:flex xl:w-72 xl:flex-col">
        {{ template "templates/sidebar.html" . }}
    </div>

    <div class="xl:pl-72">
        <button onclick="toggleHidden('#mobile-sidebar')" type="button" class="p-2.5 text-black xl:hidden">
            <span class="sr-only">Open sidebar</span>
            <svg class="h-5 w-5" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                <path fill-rule="evenodd" d="M2 4.75A.75.75 0 012.75 4h14.5a.75.75 0 010 1.5H2.75A.75.75 0 012 4.75zM2 10a.75.75 0 01.75-.75h14.5a.75.75 0 010 1.5H2.75A.75.75 0 012 10zm0 5.25a.75.75 0 01.75-.75h14.5a.75.75 0 010 1.5H2.75a.75.75 0 01-.75-.75z" clip-rule="evenodd" />
            </svg>
        </button>
        <main class="p-2 lg:pr-24">
            {{ template "content" . }}
        </main>
    </div>
</div>
</body>
</html>