<div class="bg-gray-50 flex grow flex-col gap-y-4 overflow-y-auto border-r border-gray-300 px-4">
    <div class="flex h-16 shrink-0 items-center">
        <img class="h-16" src="/static/images/logo.png" alt="Your Company">
    </div>
    <nav class="flex flex-1 flex-col">
        <ul role="list" class="flex flex-1 flex-col gap-y-4">
            <li>
                <ul id="sidebar-links-and-submenus" role="list" class="-mx-2 space-y-1">
                    {{ template "templates/sidebar_link.html" "Dashboard" }}
                    {{ template "templates/sidebar_link.html" "Products" }}
                    {{ template "templates/sidebar_link.html" "Employees" }}
                    {{ template "templates/sidebar_link.html" "Customers" }}
                    {{ template "templates/sidebar_expandable_link.html" dict "Index" "1" "Type" . "Name" "Admin" "Links" (slice "Manage Products" "Manage Employees" "Manage Customers") }}
                </ul>
            </li>
            <li id="sidebar-profile-link" class="-mx-6 mt-auto">
                <a href="#" class="flex items-center gap-x-4 px-6 py-3 text-sm font-semibold leading-6 text-gray-900 hover:bg-gray-50">
                    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
                        <path stroke-linecap="round" stroke-linejoin="round" d="M17.982 18.725A7.488 7.488 0 0012 15.75a7.488 7.488 0 00-5.982 2.975m11.963 0a9 9 0 10-11.963 0m11.963 0A8.966 8.966 0 0112 21a8.966 8.966 0 01-5.982-2.275M15 9.75a3 3 0 11-6 0 3 3 0 016 0z" />
                    </svg>
                    <span class="sr-only">Your profile</span>
                    <span aria-hidden="true">User Name</span>
                </a>
            </li>
        </ul>
    </nav>
</div>

