{{ template "base.html" . }}
<!-- list.html -->
{{ define "content" }}
<!-- list.html -->
<h1>{{FEATURE_NAME}}</h1>
<table id="{{FEATURE_NAME}}_list">
    <!-- Table rows of models -->
</table>

<!-- CRUD operation dialogs -->
<button id="createBtn" onclick="createDialog.showModal()">Add New</button>
<dialog id="createDialog">
    {{ template "create.html" . }}
</dialog>

<button id="readBtn" onclick="readDialog.showModal()">Details</button>
<dialog id="readDialog">
    {{ template "read.html" . }}
</dialog>

<button id="updateBtn" onclick="updateDialog.showModal()">Edit</button>
<dialog id="updateDialog">
    {{ template "update.html" . }}
</dialog>

<button id="deleteBtn" onclick="deleteConfirmDialog.showModal()">Delete</button>
<dialog id="deleteConfirmDialog">
    {{ template "delete.html" . }}
</dialog>
{{ end }}